.glow {
    width: 50rem;
    height: 50rem;
    background: radial-gradient(31.43% 31.43% at 33.32% 55.26%, rgba(44, 44, 116, 0.42) 33.11%, rgba(22, 47, 137, 0.29) 100%, rgba(22, 30, 59, 0.81) 100%);
    filter: blur(100px);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}


.glowMuch {
    position: absolute;
    width: 150rem;
    height: 150rem;
    background: radial-gradient(31.43% 0% at 50% 55.26%, rgba(19, 38, 102, 0) 33.11%, rgba(28, 44, 102, 0.14) 100%);
    filter: blur(100px);
    border-radius: 50%;
}

.gradientText {
    background: linear-gradient(92.18deg, #CBDAFF 2.82%, #8AABFF 99.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.formBox {
    margin-bottom: 4rem;
    border: 1px solid #27274A;
    gap: 1.5rem;
    border-radius: 2rem;
    margin-top: 5rem;
    width: 65rem;
    padding: 0 5rem;
    height: 75rem;
    flex-flow: column;
    align-items: center;
    font-size: 2rem;
    color: white;
    background: linear-gradient(134.22deg, #13131D 51.58%, #1D1D30 111.53%);
}